.link {
  text-decoration: none;
  color: white;
}

.modal {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
  width: 100%;
  height: 50px;
}

.form {
  width: 600px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.file-input {
  height: 55px;
  font-family:'Lucida Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  color: rgb(102, 102, 102);
  border: 1px rgb(180, 180, 180) solid;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.file-input > span {
  height: 55px;
  width: 137px;
  font-family:'Lucida Sans', sans-serif;
  align-items: center;
  color: rgb(102, 102, 102);
  position: relative;
  padding: 35px 0 0 17px;
  z-index: 1;
  background-color:aliceblue;
}

.file-input:hover {
  border: 1px rgb(82, 82, 82) solid;
}

.file-input > input[type='file'] {
  width: 80%;
  height: 25px;
  top: 25%;
  right: 20%;
  position: absolute;
  cursor: pointer;
  font-size: large;
}

.empty-message {
  font-family:'Lucida Sans', sans-serif;
  font-size: 20px;
  width: 350px;
  text-align: center;
  margin-top: 350px;
  color: rgb(158, 158, 158);
  display: block;
}

.file-input-reg {
  height: 50px;
  font-family:'Lucida Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  color: rgb(102, 102, 102);
  border-bottom: 1px rgb(180, 180, 180) solid;
  background-color: rgb(235, 235, 235);
  position: relative;
  overflow: hidden;
  width: 94%;
  margin-bottom: 35px;
}


.file-input-reg > input[type='file'] {
  width: 80%;
  height: 25px;
  top: 29%;
  right: 10%;
  position: absolute;
  cursor: pointer;
}

.avatar-span {
  font-family:'Lucida Sans', sans-serif;
  align-items: center;
  color: rgb(102, 102, 102);
  padding-bottom: 10px;
}

.edit-modal {
  width: 500px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: -35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 30px 0;
}

.edit-input-file {
  display: flex;
  flex-direction: column;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
}

.user-grid {
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  position: relative;
  background-color:rgba(223, 223, 223, 0.356);
  margin-left: 0;
  margin-right: 20px;
  width: 65%;
  display: flex;
  align-items: center;
}

.search:hover {
  background-color: rgba(0, 0, 0, 0.055);
} 

.icon-wrapper {
  padding-left: 13px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

.Mui-focused {
  border: 1px solid rgba(0, 0, 0, 0.055);
}

.pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
}

#googleButtonLogin {
  margin-bottom: 40px;
}